  <mat-toolbar color="primary" class="navbar">
    <span class="brand" routerLink="/">Carpooling</span>
    <span class="spacer"></span>
 
    <ng-container *ngIf="auth.isLoggedIn(); else nonLoggato">
      <span class="utente">Ciao, {{auth.getUtente()?.nome}}</span>
 
      <ng-container *ngIf="auth.getUtente()?.tipo === 'autista'">
        <a mat-button routerLink="/autista/dashboard">Dashboard</a>
        <a mat-button routerLink="/autista/crea-viaggio">+ Viaggio</a>
      </ng-container>
 
      <ng-container *ngIf="auth.getUtente()?.tipo === 'passeggero'">
        <a mat-button routerLink="/passeggero/cerca">Cerca viaggi</a>
        <a mat-button routerLink="/passeggero/dashboard">Prenotazioni</a>
      </ng-container>
 
      <button mat-button (click)="logout()">Esci</button>
    </ng-container>
 
    <ng-template #nonLoggato>
      <a mat-button routerLink="/login">Accedi</a>
      <a mat-button routerLink="/registra-passeggero">Registrati</a>
    </ng-template>
  </mat-toolbar>